<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <style>
    </style>
</head>
<body>
    <div class="container">
        <h1>TU Link Exchanger Error: Invalid Path</h1>
        <p>
          Error: Incorrect Primo/Blacklight URL. The link that you entered is not correctly formed and/or not a title-level record.
        </p>
        <p>
          If the link came from Primo, please use the Primo “permalink" for title-level records.
        </p>
        <p>
          Suggestions:
          <ul>
            <li>Check that input is a valid Blacklight Item or Primo Item Permanent Link</li>
            <li>Diamond/Primo item may not exist in new catalog</li>
          </ul>
        <%= @input_url %>
    </div>
  </body>
</html>
