<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <style>
    </style>
</head>
<body>
    <div class="container">
        <h1>Error: Invalid Path (not a Diamond Item Permanent Link?)</h1>
        <%= @input_url %>
    </div>
  </body>
</html>
