<!DOCTYPE html>
<html>
<head>
  <title>TUL Link Exchanger</title>
  <style>
  input[type=text] {
    width: 90%
  }
  div.container {
    margin: auto;
    width: 50%;
    height: 250px;
    background: url( http://library.temple.edu/link_exchange/diamond_sunset.png );
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: -10px;
  }
  div.internal {
    margin: auto;
    width: 50%;
    text-align: center;
    background-color: rgba(152, 130, 150, 0.2);
    padding: 10px;
  }

  div.instructions {
    margin: auto;
    width: 50%;
    background-color: rgba(152, 130, 150, 0.5);
    border: 5px solid transparent;
    padding: 10px;
  }

  div.result {
    background-color: rgba(255, 255, 255, 0.7);
    border: 5px solid transparent;
    padding: 10px;
  }

  div.break {
    word-break: break-all;
    word-wrap: break-word;
  }

  </style>
</head>
<body>
  <div class="container">
    <!-- <img src="diamond_sunset.png"> -->
    <h1><center><a href="<%= @application_url %>">TUL Link Exchanger</a></center></h1>
  </div>
    <div class="internal">
      <p>
      Exchange Primo <!-- Diamond/Primo --> links for permanent Temple URLs:
    </p>
    </div>
    <div class="internal">
        <form method="post">
          <label>URL</label>
          <input type="text" value="<%= h(params[:url]) %>" name="url" id="url" />
          <input type="submit" value="Exchange" id="submit" />
        </form>
        <p></p>
    <div class="clear"></div>
    <% if not @shortened_url.nil? %>
    <div class="result">
      <h3>
        Your shortened URL is:
      </h3>
      <p>
        <a href="<%= @shortened_url %>"><%= @shortened_url %></a>
        <!--
                  __________________
                .-'  \ _.-''-._ /  '-.
              .-/\   .'.      .'.   /\-.
             _'/  \.'   '.  .'   './  \'_
            :======:======::======:======:
             '. '.  \     ''     /  .' .'
               '. .  \   :  :   /  . .'
                 '.'  \  '  '  /  '.'
                   ':  \:    :/  :'
                     '. \    / .'
                       '.\  /.'    miK
                         '\/'

          diamonds are forever
           unlike men, the diamonds linger
        -->
      </p>
    </div>
    <% end %>
  </div>
  <div class="instructions" >
    <p>
      The TUL Link Exchanger will generate a shortened link for Primo "permalinks" to <b>title-level records</b>, such as books and journals. These links will remain persistent, regardless of future system changes.
      </p>
    <h3>
      Instructions:
    </h3>
    <ol>
      <li>
        Get the Primo "permalink":
        <ol style="list-style-type: lower-alpha;">
          <li>
            Navigate to individual Primo record
          </li>
          <li>
            Click on “Permalink” icon (under “Send To” section)
          </li>
          <li>
            Copy the Permalink to the Clipboard
          </li>
        </ol>
      </li>
      <li>
        Paste into TUL Link Exchanger bar and hit “Enter.”
      </li>
    </ol>

    <h3>
     The TUL Link Exchanger will not work with following URL types:
    </h3>
    <div class="break">
      <ul>
      <li>
        Non-Primo URLs
      </li>
      <li>
        Primo URLs to article-level records (ex. https://temple-primo.hosted.exlibrisgroup.com/primo-explore/fulldisplay?docid=TN_gvrl_refCX4182600142&context=PC&vid=TULI&search_scope=default_scope&tab=default_tab&lang=en_US).
      </li>
      <li>
        "Impermanent" Primo URLs (ex. https://temple-primo.hosted.exlibrisgroup.com/primo-explore/search?query=any,contains,architecture&tab=default_tab&search_scope=default_scope&vid=TULI&facet=tlevel,include,online_resources&offset=0)
      </li>

    </ul>
  </div>
</div>
</div>
<div class="internal">
  <p></p>
  <img src="http://library.temple.edu/link_exchange/diamond_sunset.png" alt="Diamond sunset" title="Diamond sunset">
</div>
</body>
