<!DOCTYPE html>
<html>
<head>
    <title>Stats</title>
    <meta name="robots" content="noindex" />
    <style>
    </style>
</head>
<body>
    <div class="container">
      <p>
        <% @stats.each do |key,value| %>
            <%= key %>, <%= value %><br>
        <% end %>
      </p>
    </div>
  </body>
</html>
